*{
    padding: 0;
    margin: 0;
    list-style: none;
}

.wrapper{
    width: 520px;
    height: 280px;
    margin: 150px auto;
    border: 2px solid #000;
    position: relative;
    overflow: hidden;
}

.wrapper .show-img li {
    width: 520px;
    height: 280px;
    display: inline-block;
    /* position: absolute;
    left: 0; */
}

.show-img li img{
    position: relative;
}

.wrapper .order{
    width: 80px;
    padding: 0 5px;
    position: absolute;
    left: 50%;
    bottom: 5px;
    margin-left: -45px;
    border-radius: 10px;
    background-color: rgb(109, 193, 111);
}

.order li{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
    margin: 1px 3px;
}

.order li.active{
    background-color: red;
}

.wrapper .page {
    width: inherit;
    height: 24px;
    /* border: 1px solid black; */
    position: absolute;
    top: 50%;
    margin-top: -10px;
}

.page span{
    display: inline-block;
    width: 30px;
    height: 24px;
    background-image: url(./img/taobao.png) ;
    overflow: hidden;
}
.page .left{
    float: left;
    background-position: 210px 0px;
    margin:5px 10px;
}

.page .right{
    float: right;
    background-position: 210px 24px;
    margin:5px 10px;
}